<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8">
   <title>慧眼 | &nbsp;SmartEye </title>
   <meta http-equiv="X-UA-Compatible" content="IE=Edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="keywords" content="">
   <meta name="description" content="">

   <link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
   <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
   <link rel="stylesheet" href="__PUBLIC__/css/templatemo-style.css">
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
   <div class="preloader">
       <div class="sk-spinner sk-spinner-rotating-plane"></div>
   </div>
   <nav class="navbar navbar-fixed-top custom-navbar" role="navigation">
       <div class="container">
           <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
               </button>
               <a href="#" class="navbar-brand mylogo"><img class="logo" src="__PUBLIC__/img/index/logo.png" alt="logo" />&nbsp;&nbsp;慧眼</a>
           </div>
           <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="#home" class="smoothScroll">主页</a></li>
                   <li><a href="#about" class="smoothScroll">系统介绍</a></li>
                   <li><a href="#service" class="smoothScroll">服务项目</a></li>
                   <li><a href="#portfolio" class="smoothScroll">应用情景</a></li>
                   <li><a href="#contact" class="smoothScroll">联系我们</a></li>
                   <li><a href="/user.php">注册</a></li>
                   <li><a href="/user.php">登陆</a></li>
               </ul>
           </div>
       </div>
   </nav>
   <!-- start home -->
   <section id="home">
       <div class="overlay">
           <div class="flexslider">
               <ul class="slides">
                   <li>
                       <img src="__PUBLIC__/img/index/slider/1.jpg" alt="Slide 1">
                       <div class="slider-caption">
                           <div class="templatemo_homewrapper">
                               <h1 class="wow bounce myh1">慧眼   SmartEye</h1>
                               <h3>&nbsp;</h3>
                               <h3 class="wow bounceIn">帮助您便捷的采集有效数据，实时传输分析数据，实现数字化的智能监控</h3>
                               <h3>&nbsp;</h3>
                               <a href="/user.php" class="templatemo-slider-btn btn btn-default">登陆系统</a>
                           </div>
                       </div>
                   </li>
                   <li>
                       <img src="__PUBLIC__/img/index/slider/2.jpg" alt="Slide 2">
                       <div class="slider-caption">
                           <div class="templatemo_homewrapper">
                               <h1 class="myh1">多终端查看数据</h1>
                               <h2>&nbsp;</h2>
                               <h3>响应式网页，手机客户端</h3>
                               <h3>&nbsp;</h3>
                               <a href="#about" class="smoothScroll templatemo-slider-btn btn btn-default">手机客户端下载</a>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>
       </div>
   </section>
   <!-- end home -->
   <!-- start about -->
   <section id="about">
       <div class="container">
           <div class="row">
               <div class="col-md-12 wow bounceIn">
                   <h2>系统介绍</h2>
                   <hr>
                   <h4>全自动采集，高效处理仪表数据</h4>
               </div>
           </div>
           <div class="row">
               <div class="col-md-6 col-sm-6 wow fadeInLeft templatemo-about-left" data-wow-delay="0.3s">
                   <h3 class="about-title">系统介绍</h3>
                   <p>“慧眼”仪表数据自动采集系统将目前最尖端的信息应用技术应用于严谨的科学实验中，不仅用高效的全自动记录方式代替过去繁杂的人工实验数据记录，并且实现实验数据信息化、网络化管理，为未来实验室、监测站提供了全新的建设、管理思路，也是实现大型实验数据云端分析、计算机环境仿真建模的有效工具。
                   </p>
                   <p>"Smart Eye"</p>
               </div>
               <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
                   <span class="text-uppercase">图像识别率 86.7%</span>
                   <div class="progress">
                       <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 86.7%;"></div>
                   </div>
                   <span class="text-uppercase">提升效率 70%</span>
                   <div class="progress">
                       <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                   </div>
                   <span class="text-uppercase">节省人工成本 60%</span>
                   <div class="progress">
                       <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- end about -->
   <!-- start service -->
   <section id="service">
       <div class="container">
           <div class="row">
               <div class="col-md-12 text-center wow bounceIn">
                   <h2>服务项目</h2>
                   <hr>
                   <h4>专业的技术团队，为用户提供最优体验</h4>
               </div>
               <div class="col-md-6 col-sm-6">
                   <div class="media">
                       <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                           <i class="material-icons fa">settings</i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">运营维护</h3>
                           <p>建立数字图像处理和仪表数据的自动识别相结合，实现远程监控和实时读读数</p>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-sm-6">
                   <div class="media">
                       <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                           <i class="material-icons fa">phonelink</i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">移动终端</h3>
                           <p>网页响应式设计加之安卓客户端和微信让用户随时随地查看仪表的实时数据</p>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-sm-6">
                   <div class="media">
                       <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                           <i class="material-icons fa">camera_alt</i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">图像采集</h3>
                           <p>我们通过摄像头实现对仪表数据的捕捉避免人眼的视觉疲劳和误差提高整体的工作效率</p>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 col-sm-6">
                   <div class="media">
                       <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                           <i class="material-icons fa">show_charts</i>
                       </div>
                       <div class="media-body">
                           <h3 class="media-heading">数据分析</h3>
                           <p>我们将采集到的数据进行专业分析以图表的方式向用户呈现最具效力的数据</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- end service -->
   <!-- start portfolio -->
   <section id="portfolio">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="wow bounceIn">
                       <h2 class="wow bounceIn">应用情景</h2>
                       <hr>
                       <h4>可以用在N种不同的场合让工作更有效率</h4>
                   </div>
                   <div class="iso-section wow fadeIn" data-wow-delay="0.6s">

                       <ul class="filter-wrapper clearfix">
                           <li><a href="#" data-filter="*" class="selected opc-main-bg">所有情景</a></li>
                           <li><a href="#" class="opc-main-bg" data-filter=".out">野外数据采集</a></li>
                           <li><a href="#" class="opc-main-bg" data-filter=".in">实验室数据检测</a></li>
                           <li><a href="#" class="opc-main-bg" data-filter=".factory">生产车间检测</a></li>
                       </ul>

                       <div class="iso-box-section">
                           <div class="iso-box-wrapper col4-iso-box">

                               <div class="iso-box out col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/snowdatacoll.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <h4>野外数据采集</h4>
                                               <p>户外采样 | 数据收集</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="iso-box out col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/outdoor1.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <h4>野外数据采集</h4>
                                               <p>野外勘测</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="iso-box out col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/outdoor2.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <h4>野外数据采集</h4>
                                               <p>农业基地数据采集</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="iso-box factory col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/fatory.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <h4>生产车间检测</h4>
                                               <p>应用于工厂自动化系统</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="iso-box in col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/lab1.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <h4>实验室数据检测</h4>
                                               <p>化学生产</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="iso-box factory photoshop col-md-4 col-sm-6 col-xs-12">
                                   <div class="portfolio-thumb">
                                       <img src="__PUBLIC__/img/index/fatory2.jpg" class="fluid-img" alt="portfolio img">
                                       <div class="portfolio-overlay">
                                           <div class="portfolio-description">
                                               <!-- <a href="#"><i class="material-icons fa">zoom_in</i></a>
                                               <a href="#"><i class="material-icons fa">link</i></a> -->
                                               <h4>生产车间检测</h4>
                                               <p>工厂三项供电参数检测</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!-- end portfolio -->
   <!-- start divider -->
   <!-- <div class="divider">
       <div class="overlay">
           <div class="container">
               <div class="row">
                   <div class="divider-des">
                       <h3 class="text-uppercase">The best minimal business one page ever</h3>
                       <p>It is fully responsive, clean, modern, creative, and minimal.</p>
                       <button class="btn btn-default text-uppercase">Download</button>
                   </div>
               </div>
           </div>
       </div>
   </div> -->
   <!-- end divider -->
   <!-- start contact -->
   <section id="contact">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="wow bounceIn">
                       <h2 class="wow bounceIn">联系我们</h2>
                       <hr>
                       <h4>快和我们谈谈吧</h4>
                   </div>
                   <form action="#" method="post" role="form">
                       <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                           <input type="text" placeholder="姓名" class="form-control">
                       </div>
                       <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                           <input type="email" placeholder="邮箱" class="form-control">
                       </div>
                       <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                           <input type="text" placeholder="电话" class="form-control">
                       </div>
                       <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                           <textarea class="form-control" rows="5" placeholder="相对我们说的话..."></textarea>
                       </div>
                       <div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                           <input type="submit" value="发送" class="form-control">
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </section>
   <!-- end contact -->
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <ul class="social-icon wow fadeIn" data-wow-delay="0.3s">
                       <!-- <li><a href="#"><i class="material-icons fa">zoom_in</i></a></li>
                       <li><a href="#" class="fa fa-twitter"></a></li>
                       <li><a href="#" class="fa fa-instagram"></a></li> -->
                   </ul>
               </div>
           </div>
       </div>
   </footer>
   <!-- tongji.baidu.com -->
   <script>
   var _hmt = _hmt || [];
   (function() {
     var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?1378be71cc0a3031a17d616b3cc5e406";
     var s = document.getElementsByTagName("script")[0];
     s.parentNode.insertBefore(hm, s);
   })();
   </script>
   <!-- tongji.baidu.com -->
   <script src="__PUBLIC__/js/indexjquery.js"></script>
   <script src="__PUBLIC__/js/bootstrap.min.js"></script>
   <script src="__PUBLIC__/js/jquery.flexslider.js"></script>
   <script src="__PUBLIC__/js/isotope.js"></script>
   <script src="__PUBLIC__/js/imagesloaded.min.js"></script>
   <script src="__PUBLIC__/js/smoothscroll.js"></script>
   <script src="__PUBLIC__/js/wow.min.js"></script>
   <script src="__PUBLIC__/js/custom.js"></script>
</body>
</html>
